.btn {
    @include transition(all, .2s, ease-in);
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: (2 * $baseLine) - 3px;
    padding: 0 2 * $baseLine;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid $blue034;

    &:hover {
        border-color: $blue101;
    }

    &:focus {
        outline: none;
    }

    @include mqmd {
        width: 100%;
    }

    &.hvr-sweep-to-bottom:before {
        border-radius: 4px;
    }

    .glyphicon {
        font-size: 20px;
    }

    &.btn-xs {
        font-size: 18px;
        line-height: 1.5 * $baseLine;
        padding: 0 2 * $baseLine;
    }
}

.btn-primary {
    background-color: $primary;

    &:hover {
        background-color: $primaryHover;
    }

    &:before {
        background: $blue100;
        border-radius: 4px;
    }
}

.btn-ghost {
    color: $white;
    background: none;
    border: 2px solid $white;
}

.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    &:before {
        background: $neutralHover;
        border-radius: 4px;
    }
}
