/* General colors */

$textColor: #555555;
$textColorInvert: #fafafa;

$white: #fafafa;
$yellow: #ffc107;
$blue: #009ece;

/* UI colors */

$body: #fafafa;
$uiElement: #cccccc;
$neutralHover: #111;
$footer: #212121;

$primary: #009ece;
$primaryHover: darken($primary, 10%);

/* Gradient */

$blue101: #14111a;

$blue100: #161e45;
$blue084: #182454;
$blue067: #123376;
$blue050: #005ba1;
$blue034: #2075ba;
$blue017: #009ece;
$blue000: #00c5e3;
