/* Typography */

@mixin hind {
    font-family: "Hind", Helvetica, Arial, sans-serif;
}

@mixin lato {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

@mixin responsiveFont($lgFont, $mdFont, $smFont, $xsFont) {
    font-size: $lgFont;

    @media screen and (max-width: $md) {
        font-size: $mdFont;
    }

    @media screen and (max-width: $sm) {
        font-size: $smFont;
    }

    @media screen and (max-width: $xs) {
        font-size: $xsFont;
    }
}

/* Responsive */

@mixin mqlg {
    @media only screen and (max-width: $lg) {
        @content;
    }
}

@mixin mqmd {
    @media only screen and (max-width: $md) {
        @content;
    }
}

@mixin mqsm {
    @media only screen and (max-width: $sm) {
        @content;
    }
}

@mixin mqxs {
    @media only screen and (max-width: $xs) {
        @content;
    }
}


/* Animation and effects */

@mixin transition($property, $duration, $function) {
    -webkit-transition: $property $duration $function;
    -moz-transition: $property $duration $function;
    -ms-transition: $property $duration $function;
    -o-transition: $property $duration $function;
    transition: $property $duration $function;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str, $fill-mode) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
    -webkit-animation-fill-mode: $fill-mode;
    -moz-animation-fill-mode: $fill-mode;
    -ms-animation-fill-mode: $fill-mode;
    -o-animation-fill-mode: $fill-mode;
    animation-fill-mode: $fill-mode;
}

/* Before/After */

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

$image-path: '../images' !default;
$fallback-extension: 'jpg' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size: false) {
    @if($size) {
        background-size: $size;
    }

    .no-svg & {
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}
