html,
body {
    @include hind;
    font-weight: 400;
    font-size: $remFontSize;
    color: $textColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include lato;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    @include responsiveFont(72px, 60px, 48px, 36px);
    text-transform: uppercase;
    margin: 0 0 $baseLine / 2 0;
    text-shadow: 0 0 12px $blue100;

    strong {
        font-weight: 700;
    }

    .accent {
        font-weight: 300;
        color: $yellow;
    }
}

h2 {
    @include responsiveFont(60px, 48px, 48px, 36px);
    font-weight: 700;
    line-height: 3 * $baseLine;
    text-transform: uppercase;
    margin: 0 0 2 * $baseLine 0;
    border-bottom: 1px solid $uiElement;
    position: relative;

    @include mqmd {
        line-height: 2 * $baseLine;
        margin: 0 0 $baseLine 0;
    }

    &:after {
        @include pseudo;
        left: 0;
        bottom: -5px;
        background: $uiElement;
        width: 4 * $baseLine;
        height: 4px;
    }

    .projects & {
        color: $white;
        border-color: $white;

        &:after {
            background: $white;
        }
    }

    .features & {
        color: $yellow;
        border-bottom: none;
        display: inline-block;
        margin-bottom: $baseLine;

        span {
            display: inline-block;
        }

        .divider {
            @include pseudo;
            top: 1.5 * $baseLine;
            background: rgba($uiElement, .25);
            width: 100%;
            height: 2px;

            @include mqmd {
                top: $baseLine;
            }

            &.right {
                width: 1500%;
                right: -1510%;
            }

            &.left {
                width: 1000%;
                left: -1010%;
            }
        }

        &::after {
            display: none;
        }
    }
}

h3 {
    @include responsiveFont(36px, 36px, 30px, 24px);
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 $baseLine 0;
    padding-left: $baseLine / 2;
    border-left: 4px solid $yellow;
}

h4 {
    @include responsiveFont(36px, 36px, 30px, 24px);
    font-size: 36px;
    line-height: 1.5 * $baseLine;
    font-weight: 300;
    margin: 0 0 $baseLine 0;
    font-weight: 400;

    .brief &,
    .pagehead & {
        font-weight: 300;

        strong {
            font-weight: 500;
        }
    }

    .brief & {
        line-height: 2 * $baseLine;
        margin: 0;

        @include mqmd {
            line-height: 1.5 * $baseLine;
        }
    }
}

h5 {
    @include responsiveFont(24px, 24px, 18px, 18px);
    text-transform: uppercase;
    line-height: $baseLine;
    font-weight: 600;
    margin: 0;
}

h6 {
    @include responsiveFont(18px, 18px, 16px, 16px);
    line-height: $baseLine;
    margin: 0;
}

p {
    font-size: $baseLine / 2;
    line-height: $baseLine;
    font-weight: 300;
    margin: 0 0 $baseLine 0;
}

a {
    color: $blue;
    @include transition(all, .2s, ease-in);

    &:focus,
    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}
